@model L02P02_2022CP602_2022HZ651.Models.Clientes

@{
    ViewData["Title"] = "Proceso de Venta";
}

<h2 class="mt-4 fw-bold">Proceso de venta</h2>
<h4 class="fw-semibold">Datos del Cliente</h4>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}

<form asp-action="IniciarVenta" method="post" class="mt-4">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="nombre" class="form-label">Nombre</label>
            <input asp-for="nombre" class="form-control" required />
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="apellido" class="form-label">Apellido</label>
            <input asp-for="apellido" class="form-control" required />
            <span asp-validation-for="apellido" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="email" class="form-label">Email</label>
        <input asp-for="email" type="email" class="form-control" required />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="direccion" class="form-label">Dirección</label>
        <input asp-for="direccion" class="form-control" required />
        <span asp-validation-for="direccion" class="text-danger"></span>
    </div>

    <a asp-controller="DetalleVenta" asp-action="DetalleVenta" class="btn btn-success w-100">
        Iniciar Venta
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
