<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2022CP602_2022HZ651</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2022CP602_2022HZ651.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark d-flex flex-column justify-content-center align-items-center py-3">
            <img src="~/img/UNICAES_Logo.png" alt="Logo" width="90" height="90" class="mb-2">
            <h2 class="text-white mb-0">Venta de Libros</h2>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white text-center p-3 mt-auto">
        2025-01-04 - REBECA MARGARITA CRUZ POLANCO<br>
        2025-01-04 - MIRIAN CAROLINA HERNANDEZ ZEPEDA
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
